*.o
*.a
*~
PLUGINS/
lib/demo
lib/tst
epglv/mysqlepglv.so
epgd
epghttpd
PLUGINS/epgdata/libepgd-epgdata.so
http/3rdParty
scripts/_references.js
http/www/channellogos
http/images_unused
http/src/dev.sh
http/src/less-rhino-1.7.0.js
http/src/lessc-rhino-1.7.0.js
images_unused
translate-tabledef2dat
eptst
http/epgd.full.js
lib/pytst
/Make.config
