# Make.config
#
# See the README file for copyright information and how to reach the author.
#
#

# user defined stuff

PREFIX       = /usr/local
_BINDEST     = $(DESTDIR)$(PREFIX)/bin
BINDEST      = $(PREFIX)/bin
CACHEDIR     = /var/cache/epgd
_PLGDEST     = $(DESTDIR)$(PREFIX)/lib/epgd/plugins
PLGDEST      = $(PREFIX)/lib/epgd/plugins
CONFDEST     = $(DESTDIR)/etc/epgd
HTTPDEST     = $(DESTDIR)/var/epgd/www
DEBUG        = 1

SYSTEMDDEST  = $(DESTDIR)/etc/systemd/system
UPSTARTDEST  = $(DESTDIR)/etc/init

# select your init system { none, upstart, systemd }

INIT_SYSTEM  = upstart

# using systemd to start/stop:

#SYSD_NOTIFY  = 1

# ------------------
# don't touch below 

CC        = g++
doCompile = $(CC) -c $(CFLAGS) $(DEFINES)
doLink    = $(CC) $(LFLAGS)
doLib     = ar -rs

PLGSRCDIR = ./PLUGINS
TMPDIR = /tmp

USELIBXML = 1
USECURL = 1
USEJPEG = 1
USEPYTHON = 1
USEEPGS = 1
USEWOL = 1

USES = -DUSEUUID -DUSEMD5 -DUSELIBXML -DUSELIBARCHIVE -DUSEJSON -DUSEGUNZIP
DEFINES += -D_GNU_SOURCE -DBINDEST='"$(BINDEST)"' -DTARGET='"$(TARGET)"' -DLOG_PREFIX='""' -DPLGDIR='"$(PLGDEST)"' $(USES)

ifdef SYSD_NOTIFY
  SYSTEMD_VERSION_210 := $(shell expr `pkg-config --modversion libsystemd 2>/dev/null || echo 0` \>= 210)
  SYSTEMD_VERSION_209 := $(shell expr `pkg-config --modversion libsystemd 2>/dev/null || pkg-config --modversion libsystemd-daemon 2>/dev/null || echo "0"` \>= 209)

  ifeq "$(SYSTEMD_VERSION_210)" "1"
    SYSDLIB_210 = 1
  endif

  ifeq "$(SYSTEMD_VERSION_209)" "1"
    SYSDLIB_209 = 1
  endif

endif

ifdef USELIBXML
  DEFINES += $(shell xml2-config --cflags) $(shell xslt-config --cflags) $(shell python-config --includes)
endif

ifdef SYSD_NOTIFY
  ifdef SYSDLIB_209
    USES += -DSYSDWDIFO
  endif
  USES += -DUSESYSD
endif

ifdef DEBUG
  CFLAGS += -ggdb -fno-stack-protector -O0
endif

CFLAGS += -fPIC -Wextra -Wno-unused-parameter -Wreturn-type -Wall -Wno-parentheses -Wformat -pedantic \
          -Wunused-variable -Wunused-label \
          -Werror=format-security -Wparentheses \
          -Wunused-value -Wunused-function -Wno-long-long \
          -D_LARGEFILE_SOURCE -D_FILE_OFFSET_BITS=64

%.o: %.c
	$(doCompile) -o $@ $<
