@ui-fwDefault: bold;
@ui-fsDefault: 1.1em;
@ui-cornerRadius: 6px;
@ui-bgColorHeader: #333333;
@ui-bgTextureHeader: gloss_wave;
@ui-bgImgOpacityHeader: 25;
@ui-borderColorHeader: #333333;
@ui-fcHeader: #ffffff;
@ui-iconColorHeader: #ffffff;
@ui-bgColorContent: #000000;
@ui-bgTextureContent: inset_soft;
@ui-bgImgOpacityContent: 25;
@ui-borderColorContent: #666666;
@ui-fcContent: #ffffff;
@ui-iconColorContent: #cccccc;
@ui-bgColorDefault: #555555;
@ui-bgTextureDefault: glass;
@ui-bgImgOpacityDefault: 20;
@ui-borderColorDefault: #666666;
@ui-fcDefault: #eeeeee;
@ui-iconColorDefault: #cccccc;
@ui-bgColorHover: #0078a3;
@ui-bgTextureHover: glass;
@ui-bgImgOpacityHover: 40;
@ui-borderColorHover: #59b4d4;
@ui-fcHover: #ffffff;
@ui-iconColorHover: #ffffff;
@ui-bgColorActive: #f58400;
@ui-bgTextureActive: inset_soft;
@ui-bgImgOpacityActive: 30;
@ui-borderColorActive: #ffaf0f;
@ui-fcActive: #ffffff;
@ui-iconColorActive: #222222;
@ui-bgColorHighlight: #eeeeee;
@ui-bgTextureHighlight: highlight_soft;
@ui-bgImgOpacityHighlight: 80;
@ui-borderColorHighlight: #cccccc;
@ui-fcHighlight: #2e7db2;
@ui-iconColorHighlight: #4b8e0b;
@ui-bgColorError: #ffc73d;
@ui-bgTextureError: glass;
@ui-bgImgOpacityError: 40;
@ui-borderColorError: #ffb73d;
@ui-fcError: #111111;
@ui-iconColorError: #a83300;
@ui-bgColorOverlay: #5c5c5c;
@ui-bgTextureOverlay: flat;
@ui-bgImgOpacityOverlay: 50;
@ui-opacityOverlay: 80;
@ui-bgColorShadow: #cccccc;
@ui-bgTextureShadow: flat;
@ui-bgImgOpacityShadow: 30;
@ui-opacityShadow: 60;
@ui-thicknessShadow: 7px;
@ui-offsetTopShadow: -7px;
@ui-offsetLeftShadow: -7px;
@ui-cornerRadiusShadow: 8px;
